<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block head %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
    <div class="footerWrap">
      <div class="footer">
        <div class="footerContent">
          <a href="https://github.com/srikantabu/flaskintro-taskmaster.git"><p class="footerp">Github</p></a>
        </div>     
      </div>
     </div>
  </body>
</html>
